<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>jp.alfred.shimo</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>A2C586BD-4604-4505-B92A-4977F73FD5CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64D4CB51-B08F-4789-964C-E351B12BE679</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>0x84</string>
	<key>description</key>
	<string>Control Shimo VPN Client</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Shimo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>vpn</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>waiting ...</string>
				<key>script</key>
				<string>set q to &quot;{query}&quot;

set xml to &quot;&lt;?xml version=&apos;1.0&apos; ?&gt;&quot;

tell application &quot;Shimo&quot;
	set xml to xml &amp; &quot;&lt;items&gt;&quot;
	repeat with n in (accounts as list)
		set na to name of n
		if q is &quot;&quot; or q is in na then
		set xml to xml &amp; &quot;&lt;item uid=&apos;&quot; &amp; na &amp; &quot;&apos; arg=&apos;&quot; &amp; na &amp; &quot;&apos;&gt;&quot;
		set xml to xml &amp; &quot;&lt;title&gt;&quot; &amp; na &amp; &quot;&lt;/title&gt;&quot;
		if connected of n is true then
			set xml to xml &amp; &quot;&lt;icon&gt;vpn_connect.png&lt;/icon&gt;&quot;
		else
			set xml to xml &amp; &quot;&lt;icon&gt;vpn_disconnect.png&lt;/icon&gt;&quot;
		end if
		set xml to xml &amp; &quot;&lt;/item&gt;&quot;
		end if
	end repeat
	set xml to xml &amp; &quot;&lt;item uid=&apos;off&apos; arg=&apos;off&apos;&gt;&lt;title&gt;Disconnect&lt;/title&gt;&lt;subtitle&gt;Disconnect all connections&lt;/subtitle&gt;&lt;icon&gt;vpn_icon.png&lt;/icon&gt;&lt;/item&gt;&quot;
	set xml to xml &amp; &quot;&lt;/items&gt;&quot;
end tell

return text of xml</string>
				<key>subtext</key>
				<string>Control Shimo VPN Client</string>
				<key>title</key>
				<string>Shimo</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A2C586BD-4604-4505-B92A-4977F73FD5CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	if q starts with &quot;discon&quot; or q is &quot;off&quot; then
		tell application &quot;Shimo&quot;
			repeat with n in (accounts as list)
				if (connected of n) is true then
					disconnect account n
				end if
			end repeat
		end tell
	else
		if q is not &quot;&quot; then
			tell application &quot;Shimo&quot;
				connect account (account q)
			end tell
		end if
	end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>64D4CB51-B08F-4789-964C-E351B12BE679</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>64D4CB51-B08F-4789-964C-E351B12BE679</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A2C586BD-4604-4505-B92A-4977F73FD5CD</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://gitlab.com/janis.puris/macos-automator</string>
</dict>
</plist>
